<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andergranado.netscan">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".view.activity.NodeListActivity"
            android:label="@string/title_activity_node_list"
            android:parentActivityName=".view.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.andergranado.netscan.view.activity.MainActivity" />
        </activity>
        <activity
            android:name=".view.activity.NodeInfoActivity"
            android:label="NodeInfoActivity"
            android:parentActivityName=".view.activity.NodeListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.andergranado.netscan.view.activity.NodeListActivity" />
        </activity>
        <activity
            android:name=".view.activity.NetworkScanActivity"
            android:label="NetworkScanActivity"
            android:parentActivityName=".view.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.andergranado.netscan.view.activity.MainActivity" />
        </activity>
        <activity
            android:name=".view.activity.DirectionScanActivity"
            android:label="@string/title_activity_direction_scan"
            android:parentActivityName=".view.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.andergranado.netscan.view.activity.MainActivity" />
        </activity>
    </application>

</manifest>